<a href="https://colab.research.google.com/github/Virtuous00/20200918/blob/master/20200918.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

感嘆恩師 讚嘆恩師

In [ ]:
import pandas as pd
print("pandas version: %s" % pd.__version__)

import matplotlib
print("matplotlib version: %s" % matplotlib.__version__)

import numpy as np
print("numpy version: %s" % np.__version__)

import sklearn
print("scikit-learn version: %s" % sklearn.__version__)

import tensorflow as tf
print("tensorflow version: %s" % tf.__version__)

import torch
print("PyTorch version: %s" %torch.__version__)
print("2020年3月PyTorch version最新版本 是1.4 請參閱https://pytorch.org/")

pandas version: 1.0.5
matplotlib version: 3.2.2
numpy version: 1.18.5
scikit-learn version: 0.22.2.post1
tensorflow version: 2.3.0
PyTorch version: 1.6.0+cu101
2020年3月PyTorch version最新版本 是1.4 請參閱https://pytorch.org/

In [ ]:
# -*- coding: utf-8 -*-
x = input('Enter your name:')
print('Hello, ' + x)

Enter your name:446
Hello, 446

In [ ]:
a = int(input("請輸入："))
a

請輸入：25

25

In [ ]:
b=a+1
b

26

In [2]:
a = eval(input("請輸入："))
a

b=a+1
b

請輸入：25

26

In [ ]:
a='  Hello   '
b='  Python ! '

a+b

a*2

a[1:4]

"H" in a

"H" not in a

False

In [ ]:
def reverse(s): 
    if len(s) == 0: 
        return s 
    else: 
        return reverse(s[1:]) + s[0] 
  
#s = "HappyHackingDay"
s = "BreakAllCTF{HappyHackingDay}"

print ("The original string  is : ",end="") 
print (s) 
  
print ("The reversed string(using recursion) is : ",end="") 
print (reverse(s))

The original string  is : BreakAllCTF{HappyHackingDay}
The reversed string(using recursion) is : }yaDgnikcaHyppaH{FTCllAkaerB

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str = "Python2019"
print(str.isalnum())

str = "Python"
print(str.isalnum())

str = "2019"
print(str.isalnum())

str = "Python 2019"
print(str.isalnum())

True
True
True
False

In [ ]:
a = 33
b = 200

if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 32
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

b is greater than a

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 35
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
year= eval(input("請輸入年"))

if ((year%400==0) or (year%4==0 and year%100!=0)):
  print("{0} 是閏年".format(year))
else:
  print("{0} 不是閏年".format(year))

請輸入年2020
2020 是閏年

In [ ]:
import time

date = time.localtime()	
print(date)

time.struct_time(tm_year=2020, tm_mon=9, tm_mday=19, tm_hour=4, tm_min=12, tm_sec=11, tm_wday=5, tm_yday=263, tm_isdst=0)

In [ ]:
year, month, day = eval(input("請輸入年月日"))
year, month, day

請輸入年月日2019,5,22
(2019, 5, 22)

In [ ]:
import time


#date = time.localtime()		#取得目前的日期時間
#year = date[0]
#month = date[1]
#day = date[2]

year, month, day = eval(input("請輸入年月日::"))

請輸入年月日::2020,9,19

In [ ]:
day_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if year%400==0 or (year%4==0 and year%100!=0):	
  day_month[1] = 29

In [ ]:
if month==1:
    print(day)
else:
    print(sum(day_month[:month-1])+day)

263

In [ ]:
money = int(input("請輸入購物金額："))

if(money >= 10000):
    if(money >= 100000):
        print(money * 0.8, end=" 元\n")  #八折
    elif(money >= 50000):
        print(money * 0.85, end=" 元\n")  #八五折
    elif(money >= 30000):
        print(money * 0.9, end=" 元\n")  #九折
    else:
        print(money * 0.95, end=" 元\n")  #九五折
else:
    print(money, end=" 元\n")  #未打折

請輸入購物金額：1500
1500 元

In [ ]:
for n in range(5):
  print(n)

0
1
2
3
4

In [ ]:
for n in range(10):
    print(n, end='@')

    #print(n, end='%%%%')

0@1@2@3@4@5@6@7@8@9@

In [ ]:
mysum = 0

for n in range(5):
  mysum += n
  print(mysum)

0
1
3
6
10

In [ ]:
mysum = 0

for n in range(5):
  mysum += n

print(mysum)

10

In [ ]:
x = int(input("請輸入一個正整數:"))
mysum = 0

for n in range(x):
  mysum += n

print(mysum)

請輸入一個正整數:6
15

In [ ]:
numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 != 0): 
    my_numbers.append(number)

print(my_numbers)

[21, 35, 1, 7, 3, 9]

In [ ]:
total = i = 1

n = int(input("請輸入正整數 n 的值："))

while(i<=n):
    total *= i  
    i+=1      

print("%d!=%d" % (n, total))

請輸入正整數 n 的值：6
6!=720

In [ ]:
fruits = ["香蕉","蘋果","橘子","鳳梨","西瓜"]

while True:
    fruit = input("請輸入喜歡的水果(Enter 結束)：")

  #  if (fruit==""):
  #      break

    n = fruits.count(fruit) 
    if (n>0):  # 串列元素存在
        p=fruits.index(fruit)
        print("%s 在串列中的第 %d 項" %(fruit,p+1))
    else:
        print(fruit,"不在串列中!")

請輸入喜歡的水果(Enter 結束)：蘋果
蘋果 在串列中的第 2 項
請輸入喜歡的水果(Enter 結束)：草莓
草莓 不在串列中!

In [ ]:
n = int(input("請輸入正整數："))

for i in range(1, n+1):
    if i % 5 ==0:
        continue
    print(i,end=" ")

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            if( i != k ) and (i != j) and (j != k):
                print(i,j,k)

1 2 3
1 2 4
1 2 5
1 2 6
1 3 2
1 3 4
1 3 5
1 3 6
1 4 2
1 4 3
1 4 5
1 4 6
2 1 3
2 1 4
2 1 5
2 1 6
2 3 1
2 3 4
2 3 5
2 3 6
2 4 1
2 4 3
2 4 5
2 4 6
3 1 2
3 1 4
3 1 5
3 1 6
3 2 1
3 2 4
3 2 5
3 2 6
3 4 1
3 4 2
3 4 5
3 4 6
4 1 2
4 1 3
4 1 5
4 1 6
4 2 1
4 2 3
4 2 5
4 2 6
4 3 1
4 3 2
4 3 5
4 3 6
5 1 2
5 1 3
5 1 4
5 1 6
5 2 1
5 2 3
5 2 4
5 2 6
5 3 1
5 3 2
5 3 4
5 3 6
5 4 1
5 4 2
5 4 3
5 4 6

In [ ]:
for x in range(19):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [ ]:
for x in range(0,19,2):
  print(x)

0
2
4
6
8
10
12
14
16
18

In [ ]:
for x in range(20,11,-1):
  print(x)

20
19
18
17
16
15
14
13
12

In [ ]:
for x in range(0,19,-1):
  print(x)

In [ ]:
output = ''

for x in range(0,19,3):
  output += str(x)
  print(output, end=" ")

0 03 036 0369 036912 03691215 0369121518

In [ ]:
output = ''

for x in range(0,19,3):
  print(x, end=" ")

0 3 6 9 12 15 18

In [ ]:
list1 = range(0,19,3)

for x in list1:
  print(x, end=" ")

0 3 6 9 12 15 18

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
i = int(input('淨利潤:'))

arr = [1000000,600000,400000,200000,100000,0]
rat = [0.01,0.015,0.03,0.05,0.075,0.1]
r = 0

for idx in range(0,6):
    if i>arr[idx]:
        r+=(i-arr[idx])*rat[idx]
        print((i-arr[idx])*rat[idx])
        i=arr[idx]

print(r)

淨利潤:5000
500.0
500.0

In [ ]:
for i in range(1,10):
  for j in range(1,10):
    product = i * j
    print("%d*%d=%-2d " % (i,j,product), end="")
  print()

1*1=1  1*2=2  1*3=3  1*4=4  1*5=5  1*6=6  1*7=7  1*8=8  1*9=9
2*1=2  2*2=4  2*3=6  2*4=8  2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1=3  3*2=6  3*3=9  3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1=4  4*2=8  4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1=5  5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1=6  6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1=7  7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1=8  8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1=9  9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [ ]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 1 to 10 is", sum(1, 11)) 
    print("Sum from 20 to 37 is", sum(20, 38))
    print("Sum from 35 to 49 is", sum(35, 50))

main() # Call the main function

Sum from 1 to 10 is 55
Sum from 20 to 37 is 513
Sum from 35 to 49 is 630

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
def swap(a,b):
    a,b = b,a
    return (a,b)
 
if __name__ == '__main__':
    x = 10
    y = 20
    print('x = %d,y = %d' % (x,y))
    x,y = swap(x,y)
    print('x = %d,y = %d' % (x,y))

x = 10,y = 20
x = 20,y = 10

In [ ]:
"""## Python Docstring


https://stackoverflow.com/questions/3898572/what-is-the-standard-python-docstring-format


Google Style Python Docstrings

https://www.sphinx-doc.org/en/master/usage/extensions/example_google.html#example-google


'''
This is an example of Google style.

Args:
    param1: This is the first param.
    param2: This is a second param.

Returns:
    This is a description of what is returned.

Raises:
    KeyError: Raises an exception.
'''
"""

def demo():
    """函數的文件字串"""
    pass
    
print(demo.__doc__)

def swap(a,b):
    """
    swap(a,b)功能是.................
    """ 
    a,b = b,a
    return (a,b)

print(swap(3,5))
print(swap.__doc__)

函數的文件字串
(5, 3)

    swap(a,b)功能是.................

In [ ]:
## Python的函數可以回傳多個值(超棒der)
"""

#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def sort(number1, number2):
    if number1 < number2:
        return number1, number2
    else:
        return number2, number1

num1, num2 = sort(31, 25)

print("num1 is", num1)
print("num2 is", num2)

"""### [作業]:def sort(number1, number2, number3):

'\n\n#!/usr/bin/python \n# -*- coding: UTF-8 -*- \n\ndef sort(number1, number2):\n    if number1 < number2:\n        return number1, number2\n    else:\n        return number2, number1\n\nnum1, num2 = sort(31, 25)\n\nprint("num1 is", num1)\nprint("num2 is", num2)\n\n'

In [ ]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def printArea(width = 11, height = 12):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

printArea() 
printArea(4, 2.5) # Positional arguments width = 4 and height = 2.5
printArea(height = 5, width = 3) # Keyword arguments width 
printArea(width = 1.2) # Default height = 2
printArea(height = 6.2) # Default widht = 1

width: 11 	height: 12 	area: 132
width: 4 	height: 2.5 	area: 10.0
width: 3 	height: 5 	area: 15
width: 1.2 	height: 12 	area: 14.399999999999999
width: 11 	height: 6.2 	area: 68.2

In [ ]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def hello_3(greeting='Hello', name='world'): 
    print('{}, {}!'.format(greeting, name)) 

    
hello_3() 
hello_3('Greetings') 
hello_3('Greetings', 'universe')
hello_3(name='GGGGGGoood')

Hello, world!
Greetings, world!
Greetings, universe!
Hello, GGGGGGoood!

In [ ]:
params = {'name': 'Sir Simon Rattle', 'greeting': 'To my Great Conductor'}
hello_3(**params)

To my Great Conductor, Sir Simon Rattle!

In [ ]:
def print_params(*params): 
    print(params) 

print_params('Testing') 

print_params(1, 2, 3) 

# return的是tuple資料型態

#可和一般參數齊用

def print_params_2(title, *params): 
    print(title) 
    print(params)

print_params_2('Params:', 1, 2, 3)
print_params_2('Nothing:')

('Testing',)
(1, 2, 3)
Params:
(1, 2, 3)
Nothing:
()

In [ ]:
def print_params_3(**params): 
    print(params) 

print_params_3(x=1, y=2, z=3) 

# return的是dict(字典資料型態)

def print_params_4(x, y, z=3, *pospar, **keypar): 
    print(x, y, z) 
    print(pospar) 
    print(keypar) 

print_params_4(1, 2, 4, 5, 6, 7, foo=1, bar=2)

print_params_4(1, 2)

{'x': 1, 'y': 2, 'z': 3}
1 2 4
(5, 6, 7)
{'foo': 1, 'bar': 2}
1 2 3
()
{}

In [ ]:
x = 111

def f1():
    x = 222
    print(x) 

f1()
print(x)

x = 1

def increase():
    global x
    x =  x + 1
    print(x) 

increase()
print(x)
increase()
increase()
print(x)

222
111
2
2
3
4
4

In [ ]:
f1 = lambda x, y, z: x+2*y+3*z
print(f1(2,3,1))

11

In [ ]:
def myfunc(m):
    return m*m

my_list = [1, 3, 5, 7, 9]

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

def fib(n):
    if n==1 or n==2:
        return 1
    return fib(n-1)+fib(n-2)

print(fib(10))

55

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
def fib(n):
    a,b = 1,1
    for i in range(n-1):
        a,b = b,a+b
    return a
 

print(fib(10))

55

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

def fib(x):	
	global numFibCalls
	numFibCalls += 1
	
	if x == 0 or x == 1:
           return 1
	else:
          return fib(x-1) + fib(x-2)

def testFib(n):
	for i in range(n+1):
          global numFibCalls
          numFibCalls = 0
          print('fib of', i, '=', fib(i))
          print('fib called', numFibCalls, 'times.')

testFib(4)

fib of 0 = 1
fib called 1 times.
fib of 1 = 1
fib called 1 times.
fib of 2 = 2
fib called 3 times.
fib of 3 = 3
fib called 5 times.
fib of 4 = 5
fib called 9 times.

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

def fib(x):	
	global numFibCalls
	numFibCalls += 1
	
	if x == 0 or x == 1:
           return 1
	else:
          return fib(x-1) + fib(x-2)

def testFib(n):
	for i in range(n+1):
          global numFibCalls
          numFibCalls = 0
          print('fib of', i, '=', fib(i))
          print('fib called', numFibCalls, 'times.')

testFib(4)

fib of 0 = 1
fib called 1 times.
fib of 1 = 1
fib called 1 times.
fib of 2 = 2
fib called 3 times.
fib of 3 = 3
fib called 5 times.
fib of 4 = 5
fib called 9 times.

In [ ]:
https://docs.python.org/3/library/functions.html

chr(97)

chr(66)

#ord('a')
#print(bin(ord('a')))
#oct(ord('a'))
print(hex(ord('a')))

SyntaxError: ignored

In [ ]:
a ="66 114".split("")
a

a ="66 114".split("  ")
a

a ="66 114".split(" ")
a
type(a)

ValueError: ignored

In [ ]:
a="66 114".split(" ")

result=''

for x in a:
  y=chr(int(x))
  result += y
# result = result + y 

result

'Br'

In [ ]:
#!/usr/bin/python

c = '66 114 101 97 107 65 76 76 67 84 70 123 65 109 118 48 117 68 121 101 114 118 80 116 109 86 114 57 83 83 83 75 125'

flag = ""

for _ in c.split(' '):
  flag += chr(int(_))

print(flag)

BreakALLCTF{Amv0uDyervPtmVr9SSSK}

In [ ]:
#!/usr/bin/python

c = '66 114 101 97 107 65 76 76 67 84 70 123 65 109 118 48 117 68 121 101 114 118 80 116 109 86 114 57 83 83 83 75 125'

flag = ""

for x in c.split(' '):
  flag += chr(int(x))

print(flag)

BreakALLCTF{Amv0uDyervPtmVr9SSSK}

In [ ]:
import base64

data =b'BreakAllCTF{HappyPythonDay}'
encoded_data = base64.b64encode(data)
print('Original Data :', data)
print('Encoded :', encoded_data)

Original Data : b'BreakAllCTF{HappyPythonDay}'
Encoded : b'QnJlYWtBbGxDVEZ7SGFwcHlQeXRob25EYXl9'

In [ ]:
import base64

encoded_data = b'QnJlYWtBTExDVEZ7NTN1c1pRM2hXVzI1ZGNoWjdkWGV9'
decoded_data = base64.b64decode(encoded_data)
print('Encoded :', encoded_data)
print('Decoded :', decoded_data)

Encoded : b'QnJlYWtBTExDVEZ7NTN1c1pRM2hXVzI1ZGNoWjdkWGV9'
Decoded : b'BreakALLCTF{53usZQ3hWW25dchZ7dXe}'

In [ ]:
import base64

original_data = b'BreakAllCTF{HappyPythonDay}'
print('Original data:', original_data)

encoded_data = base64.b32encode(original_data)
print('Encoded :', encoded_data)

decoded_data = base64.b32decode(encoded_data)
print('Decoded :', decoded_data)

Original data: b'BreakAllCTF{HappyPythonDay}'
Encoded : b'IJZGKYLLIFWGYQ2UIZ5UQYLQOB4VA6LUNBXW4RDBPF6Q===='
Decoded : b'BreakAllCTF{HappyPythonDay}'

In [ ]:
'6236343a20615735305a584a755a58526659323975646d567963326c76626c3930623239736331397962324e72'.decode("hex")

In [ ]:
'b64: aW50ZXJuZXRfY29udmVyc2lvbl90b29sc19yb2Nr'

In [ ]:
import base64
base64.b64decode('aW50ZXJuZXRfY29udmVyc2lvbl90b29sc19yb2Nr')

b'internet_conversion_tools_rock'

In [ ]:
import binascii
binascii.unhexlify('6236343a20615735305a584a755a58526659323975646d567963326c76626c3930623239736331397962324e72')

b'b64: aW50ZXJuZXRfY29udmVyc2lvbl90b29sc19yb2Nr'

In [ ]:
import base64
base64.b64decode('aW50ZXJuZXRfY29udmVyc2lvbl90b29sc19yb2Nr')

b'internet_conversion_tools_rock'

In [ ]:
# 數字系統( number system)的轉換
# 使用Python程式將10進位(Decimal)數字轉換成二進位(binary), 八進位(Octal) 及 十六進位(Hexadecimal) 
# https://www.programiz.com/python-programming/examples/conversion-binary-octal-hexadecimal

bin_n = 0b1011

print("上述二進位數字可被轉換成:")
print(bin_n,"十進位(Decimal).")
print(oct(bin_n),"八進位(octal).")
print(hex(bin_n),"十六進位(hexadecimal).")

上述二進位數字可被轉換成:
11 十進位(Decimal).
0o13 八進位(octal).
0xb 十六進位(hexadecimal).

In [ ]:
dec = 344

print("10進位數字",dec,"可被轉換成:")
print(bin(dec),"二進位(binary).")
print(oct(dec),"八進位(octal).")
print(hex(dec),"十六進位(hexadecimal).")

10進位數字 344 可被轉換成:
0b101011000 二進位(binary).
0o530 八進位(octal).
0x158 十六進位(hexadecimal).

In [ ]:
# [參考資料]From https://www.programiz.com/python-programming/methods/built-in/int

# binary 0b or 0B
print("For 1010, int is:", int('1010', 2))
print("For 0b1010, int is:", int('0b1010', 2))

# octal 0o or 0O
print("For 12, int is:", int('12', 8))
print("For 0o12, int is:", int('0o12', 8))

# hexadecimal
print("For A, int is:", int('A', 16))
print("For 0xA, int is:", int('0xA', 16))

For 1010, int is: 10
For 0b1010, int is: 10
For 12, int is: 10
For 0o12, int is: 10
For A, int is: 10
For 0xA, int is: 10

In [ ]:
http://www.unit-conversion.info/texttools/octal/

V2VsbCBkb25lIQoKRmxhZzogSVd7TjBfMG5lX2Nhbl9zdDBwX3kwdX0K

In [ ]:
import base64

encoded_data = b'V2VsbCBkb25lIQoKRmxhZzogSVd7TjBfMG5lX2Nhbl9zdDBwX3kwdX0K'
decoded_data = base64.b64decode(encoded_data)
print('Encoded :', encoded_data)
print('Decoded :', decoded_data)

Encoded : b'V2VsbCBkb25lIQoKRmxhZzogSVd7TjBfMG5lX2Nhbl9zdDBwX3kwdX0K'
Decoded : b'Well done!\n\nFlag: IW{N0_0ne_can_st0p_y0u}\n'

In [ ]:
#!/usr/bin/python

c = '126 062 126 163 142 103 102 153 142 062 065 154 111 121 157 113 122 155 170 150 132 172 157 147 123 126 144 067 124 152 102 146 115 107 065 154 130 062 116 150 142 154 071 172 144 104 102 167 130 063 153 167 144 130 060 113 012'

flag = ""

for _ in c.split(' '):
  flag += chr(int(_,8))

print(flag)

V2VsbCBkb25lIQoKRmxhZzogSVd7TjBfMG5lX2Nhbl9zdDBwX3kwdX0K

In [ ]:
#!/usr/bin/python
import base64

c = '126 062 126 163 142 103 102 153 142 062 065 154 111 121 157 113 122 155 170 150 132 172 157 147 123 126 144 067 124 152 102 146 115 107 065 154 130 062 116 150 142 154 071 172 144 104 102 167 130 063 153 167 144 130 060 113 012'

flag = ""

for _ in c.split(' '):
  flag += chr(int(_,8))
  

solution = base64.b64decode(flag)
print(solution)

b'Well done!\n\nFlag: IW{N0_0ne_can_st0p_y0u}\n'

In [ ]:
#!/usr/bin/python

vals = "87 101 108 1100011 0157 6d 0145 040 116 0157 100000 0164 104 1100101 32 0123 69 67 0103 1001111 1001110 040 062 060 49 064 100000 0157 110 6c 0151 1101110 101 040 0103 1010100 70 101110 0124 1101000 101 100000 1010011 1000101 67 0103 4f 4e 100000 105 1110011 040 116 1101000 0145 040 1100010 0151 103 103 0145 1110011 0164 100000 1101000 0141 99 6b 1100101 0162 32 0143 111 1101110 1110100 101 0163 0164 040 0151 0156 040 74 0141 1110000 1100001 0156 056 4f 0157 0160 115 44 040 0171 1101111 117 100000 1110111 0141 0156 1110100 32 0164 6f 32 6b 1101110 1101111 1110111 100000 0164 1101000 0145 040 0146 6c 97 1100111 2c 100000 0144 111 110 100111 116 100000 1111001 6f 117 63 0110 1100101 0162 0145 100000 1111001 111 117 100000 97 114 0145 46 1010011 0105 0103 67 79 1001110 123 87 110011 110001 67 110000 1001101 32 55 060 100000 110111 0110 110011 32 53 51 0103 0103 060 0116 040 5a 0117 73 0101 7d 1001000 0141 1110110 1100101 100000 102 0165 0156 33"
vals = vals.split()

def contains_hex(val):
    h = "abcdef"
    for i in val:
        if i in h:
            return True
    return False

def main():
    flag = []
    for i in vals:
        if len(i) > 5:
            flag.append(int(i, 2))
        elif i[0] == "0":
            flag.append(int(i, 8))
        elif contains_hex(i):
            flag.append(int(i, 16))
        else:
            flag.append(int(i))
    print("%s" % "".join(map(chr, flag)))

if __name__ == "__main__":
    main()

Welcome to the SECCON 2014 online CTF.The SECCON is the biggest hacker contest in Japan.Oops, you want to know the flag, don't you?Here you are.SECCON{W31C0M 70 7H3 53CC0N ZOIA}Have fun!

In [ ]:
#!/usr/bin/env python
import re
import sys

message = "87 101 108 1100011 0157 6d 0145 040 116 0157 100000 0164 104 1100101 32 0123 69 67 0103 1001111 1001110 040 062 060 49 064 100000 0157 110 6c 0151 1101110 101 040 0103 1010100 70 101110 0124 1101000 101 100000 1010011 1000101 67 0103 4f 4e 100000 105 1110011 040 116 1101000 0145 040 1100010 0151 103 103 0145 1110011 0164 100000 1101000 0141 99 6b 1100101 0162 32 0143 111 1101110 1110100 101 0163 0164 040 0151 0156 040 74 0141 1110000 1100001 0156 056 4f 0157 0160 115 44 040 0171 1101111 117 100000 1110111 0141 0156 1110100 32 0164 6f 32 6b 1101110 1101111 1110111 100000 0164 1101000 0145 040 0146 6c 97 1100111 2c 100000 0144 111 110 100111 116 100000 1111001 6f 117 63 0110 1100101 0162 0145 100000 1111001 111 117 100000 97 114 0145 46 1010011 0105 0103 67 79 1001110 123 87 110011 110001 67 110000 1001101 32 55 060 100000 110111 0110 110011 32 53 51 0103 0103 060 0116 040 5a 0117 73 0101 7d 1001000 0141 1110110 1100101 100000 102 0165 0156 33"
codes = message.split()

for i, code in enumerate(codes):
    if re.match("^[01]+$", code)  and code[0] == "1" and len(code) > 3:
        sys.stdout.write(chr(int(code, 2)))
    elif re.match("^[0-9]+$", code) and code[0] == "0":
        sys.stdout.write(chr(int(code, 8)))
    elif re.match("^[0-9]+$", code):
        sys.stdout.write(chr(int(code, 10)))
    else:
        sys.stdout.write(chr(int(code, 16)))

Welcome to the SECCON 2014 online CTF.The SECCON is the biggest hacker contest in Japan.Oops, you want to know the flag, don't you?Here you are.SECCON{W31C0M 70 7H3 53CC0N ZOIA}Have fun!